body{
    background-color: rgb(76, 82, 80);
    color: rgb(255, 255, 255);
    text-align: center;
}
#hr{
    color: red;
    border: 2px;
}
#wynik_odejmowania{
    color: red;
}
h1{
    color: rgb(252, 0, 0);
}       